<a href="https://colab.research.google.com/github/Palakdubeyy/Foundation-of-Data-Science/blob/main/Data_Representation_by_Tables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Data Represented by Tables**

Tabular data refers to the data that is stored in the form of rows and columns i.e., in the form of a table.

It is often preferred to store data in tabular form as data appears more organized and systematic.

There are many modules available in Python to print data in tabular form.

# 1. Printing Lists as Tabular Data using Pandas library

The most common way of printing lists in tabular form is by using the Pandas library in Python.

Pandas is an important Python library used for data analysis and data manipulation.

It stores data in the form of data frames which can be presented in tabular form.

In [ ]:
import pandas as pd
list=["Oshank Agrawal","Madhavi","Sakshi Tiwari","Prince Kumar Gatte","Harshraj Ray"]
# Calling DataFrame constructor on list
df=pd.DataFrame(list)
print(df)

                    0
0      Oshank Agrawal
1             Madhavi
2       Sakshi Tiwari
3  Prince Kumar Gatte
4        Harshraj Ray

We can see from the examples that using data frames, we can present data in columnar form using columns=["Name of Student"] as a parameter in pd.Dataframe.

In [ ]:
import pandas as pd
mylist=["Oshank Agrawal","Madhavi","Sakshi Tiwari","Prince Kumar Gatte","Harshraj Ray"]
data=pd.DataFrame(mylist,columns=["Name of Student"])
print(data)

      Name of Student
0      Oshank Agrawal
1             Madhavi
2       Sakshi Tiwari
3  Prince Kumar Gatte
4        Harshraj Ray

# 2. Printing Lists as Tabular Data using Tabulate Module

Tabulate module is an open-source python package/module which is used to print tabular data in nicely formatted tables that make the data appear beautiful.

It is user-friendly and has many formatting functions.

**Example**

 It is quite an easy method as we simply have to input the data in the list format for the number of rows we want and provide a title/heading to the columns. Here, We are using Name and Age as headers of the table

In [ ]:
from tabulate import tabulate

print(tabulate([["Oshank Agrawal",20],["Madhavi",19],["Sakshi Tiwari",20],["Prince Kumar Gatte",21],["Harshraj Ray",19]],headers=['Name', 'Age']))

Name                  Age
------------------  -----
Oshank Agrawal         20
Madhavi                19
Sakshi Tiwari          20
Prince Kumar Gatte     21
Harshraj Ray           19

**Itterations on above code**

In [ ]:
from tabulate import tabulate
data=[["Oshank Agrawal",20],["Madhavi",19],["Sakshi Tiwari",20],["Prince Kumar Gatte",21],["Harshraj Ray",19]]
headers=["Name","Age"]
table=tabulate(data,headers)
print(table)

Name                  Age
------------------  -----
Oshank Agrawal         20
Madhavi                19
Sakshi Tiwari          20
Prince Kumar Gatte     21
Harshraj Ray           19

In [ ]:
from tabulate import tabulate as tb
data=[["Oshank Agrawal",20],["Madhavi",19],["Sakshi Tiwari",20],["Prince Kumar Gatte",21],["Harshraj Ray",19]]
headers=["Name","Age"]
data1=[["Apple",100],["Mango",120],["Grapes",80],["Banana",60],["Orange",100]]
headers1=["Fruit","Price/Kg"]
table=tb(data,headers)
table1=tb(data1,headers1)
print(table)
print()
print(table1)

Name                  Age
------------------  -----
Oshank Agrawal         20
Madhavi                19
Sakshi Tiwari          20
Prince Kumar Gatte     21
Harshraj Ray           19

Fruit      Price/Kg
-------  ----------
Apple           100
Mango           120
Grapes           80
Banana           60
Orange          100

# 3. Printing Lists as Tabular Data using Texttable Module

It is a Python Texttable module, which helps us to print tables on the terminal.

It is one of the basic Python modules for reading and writing text tables in ASCII code.

It can support both dynamic and fixed-size tables.

**Data is stored in a tabular format where each cell is differentiated from the other by a table border.**

**Example**

As we can see from the output shown, the items are arranged in the form of tables which makes them look structured and easier to read.

Texttable enables a cell-like structure in which each data is stored and is similar to CSV files.

In [ ]:
# !pip install texttable
from texttable import Texttable
t = Texttable(max_width=20)
t.add_rows([["Name","Age"],["Oshank Agrawal",20],["Madhavi",19],["Sakshi Tiwari",20],["Prince Kumar Gatte",21],["Harshraj Ray",19]])
print(t.draw())

+------------+-----+
|    Name    | Age |
+============+=====+
| Oshank     | 20  |
| Agrawal    |     |
+------------+-----+
| Madhavi    | 19  |
+------------+-----+
| Sakshi     | 20  |
| Tiwari     |     |
+------------+-----+
| Prince     | 21  |
| Kumar      |     |
| Gatte      |     |
+------------+-----+
| Harshraj   | 19  |
| Ray        |     |
+------------+-----+

In this module firstly create the object using **obj.Texttable()** method.

Than call the **obj.add_row()** function to add the data.

For print the table call **obj.draw()** function.

In this module when we pass 2-D array it is automatically created the header(or schema) of the table of the by using the first row of the data.

The Texttable constructor requires an integer value for max_width to specify the maximum width of the table. Providing a list instead of an integer caused the TypeError. By setting max_width to a valid integer value, the code will correctly initialize the Texttable object and generate the desired tables.

**Itteration on above code**

In [ ]:
# !pip install texttable
from texttable import Texttable as tp
obj = tp()
obj.add_rows([["Name","Age"]])
obj.add_rows([["Oshank Agrawal",20],["Madhavi",19],["Sakshi Tiwari",20],["Prince Kumar Gatte",21],["Harshraj Ray",19]])
t = tp()
t.add_rows([["Fruit","Price/Kg"],["Apple",100],["Mango",120],["Grapes",80],["Banana",60],["Orange",100]])
print(obj.draw())
print(t.draw())

+--------------------+----+
|   Oshank Agrawal   | 20 |
+====================+====+
| Madhavi            | 19 |
+--------------------+----+
| Sakshi Tiwari      | 20 |
+--------------------+----+
| Prince Kumar Gatte | 21 |
+--------------------+----+
| Harshraj Ray       | 19 |
+--------------------+----+
+--------+----------+
| Fruit  | Price/Kg |
+========+==========+
| Apple  | 100      |
+--------+----------+
| Mango  | 120      |
+--------+----------+
| Grapes | 80       |
+--------+----------+
| Banana | 60       |
+--------+----------+
| Orange | 100      |
+--------+----------+

In [ ]:
# !pip install texttable
from texttable import Texttable as tp
import pandas as pd
data = [["Oshank Agrawal",20],["Madhavi",19],["Sakshi Tiwari",20],["Prince Kumar Gatte",21],["Harshraj Ray",19]]
print(data)
sr=pd.Series(data)
print(sr)
ob=tp()
for x in sr:
  ob.add_rows([x])
print(ob.draw)
# data.append(["Name","Age"])
# print(data)

[['Oshank Agrawal', 20], ['Madhavi', 19], ['Sakshi Tiwari', 20], ['Prince Kumar Gatte', 21], ['Harshraj Ray', 19]]
0        [Oshank Agrawal, 20]
1               [Madhavi, 19]
2         [Sakshi Tiwari, 20]
3    [Prince Kumar Gatte, 21]
4          [Harshraj Ray, 19]
dtype: object
<bound method Texttable.draw of <texttable.Texttable object at 0x78f85b98a9e0>>

In [ ]:
# !pip install texttable
from texttable import Texttable as tp
obj = tp()
obj.add_rows([["Name","Age"]])
obj.add_rows([["Oshank Agrawal",20],["Madhavi",19],["Sakshi Tiwari",20],["Prince Kumar Gatte",21],["Harshraj Ray",19]])
obj.add_rows([["Abhishek Shristava",20]])
# t =  texttable()
# t.add_rows([["Fruit","Price/Kg"],["Apple",100],["Mango",120],["Grapes",80],["Banana",60],["Orange",100]])
print(obj.draw())
# print(t.draw())

+--------------------+----+
| Abhishek Shristava | 20 |
+====================+====+
| Madhavi            | 19 |
+--------------------+----+
| Sakshi Tiwari      | 20 |
+--------------------+----+
| Prince Kumar Gatte | 21 |
+--------------------+----+
| Harshraj Ray       | 19 |
+--------------------+----+

In [ ]:
# !pip install texttable
from texttable import Texttable as tp
obj = tp()
obj.add_rows([["Name","Age"]])
obj.add_rows([["Oshank Agrawal",20],["Madhavi",19],["Sakshi Tiwari",20],["Prince Kumar Gatte",21],["Harshraj Ray",19]])
obj.add_rows([["Abhishek Shristava",20],["Tanushree Nayak",20],["Name","Age"]])
t =  Texttable()
t.add_rows([["Fruit","Price/Kg"],["Apple",100],["Mango",120],["Grapes",80],["Banana",60],["Orange",100]])
print(obj.draw())
print(t.draw())

+--------------------+-----+
| Abhishek Shristava | 20  |
+====================+=====+
| Madhavi            | 19  |
+--------------------+-----+
| Sakshi Tiwari      | 20  |
+--------------------+-----+
| Prince Kumar Gatte | 21  |
+--------------------+-----+
| Harshraj Ray       | 19  |
+--------------------+-----+
| Tanushree Nayak    | 20  |
+--------------------+-----+
| Name               | Age |
+--------------------+-----+
+--------+----------+
| Fruit  | Price/Kg |
+========+==========+
| Apple  | 100      |
+--------+----------+
| Mango  | 120      |
+--------+----------+
| Grapes | 80       |
+--------+----------+
| Banana | 60       |
+--------+----------+
| Orange | 100      |
+--------+----------+

In [ ]:
# !pip install texttable
from texttable import Texttable as tp
obj = tp(max_width=50)
obj.add_rows([["Abhishek Shristava",20],["Tanushree Nayak",20]])
obj.add_rows([["Oshank Agrawal",20],["Madhavi",19],["Sakshi Tiwari",20],["Prince Kumar Gatte",21],["Harshraj Ray",19]])
t =  Texttable()
t.add_rows([["Fruit","Price/Kg"],["Apple",100],["Mango",120],["Grapes",80],["Banana",60],["Orange",100]])
print(obj.draw())
print(t.draw())

+--------------------+----+
|   Oshank Agrawal   | 20 |
+====================+====+
| Tanushree Nayak    | 20 |
+--------------------+----+
| Madhavi            | 19 |
+--------------------+----+
| Sakshi Tiwari      | 20 |
+--------------------+----+
| Prince Kumar Gatte | 21 |
+--------------------+----+
| Harshraj Ray       | 19 |
+--------------------+----+
+--------+----------+
| Fruit  | Price/Kg |
+========+==========+
| Apple  | 100      |
+--------+----------+
| Mango  | 120      |
+--------+----------+
| Grapes | 80       |
+--------+----------+
| Banana | 60       |
+--------+----------+
| Orange | 100      |
+--------+----------+

# 4. Printing Lists as Tabular Data using Prettytable Module

The Prettytable is another Python module used for the tabular representation of data. They are ASCII tables and quite easy to use. The Prettytable library consists of the PrettyTable class, which is used to create relational tables.

**Example**

Here, the data is presented in an organized manner. Thus, you can print lists as tabular data by using PrettyTable methods, all the modules listed above can help in visualizing raw data in tabular form.

In [ ]:
from prettytable import PrettyTable

# These 3 are the columns of the tables
t = PrettyTable(['Subject Code', 'Subject', 'Marks'])

# To insert rows:
t.add_row(['K01', 'Maths', 95])
t.add_row(['K04', 'Physics', 89])
t.add_row(['K03', 'Chemistry', 92])
t.add_row(['K08', 'English', 91])
t.add_row(['K29', 'Computer Science', 99])
t.add_row(['K06', 'Social Science', 86])

print(t)

+--------------+------------------+-------+
| Subject Code |     Subject      | Marks |
+--------------+------------------+-------+
|     K01      |      Maths       |   95  |
|     K04      |     Physics      |   89  |
|     K03      |    Chemistry     |   92  |
|     K08      |     English      |   91  |
|     K29      | Computer Science |   99  |
|     K06      |  Social Science  |   86  |
+--------------+------------------+-------+

# 5. Printing Lists as Tabular Data using terminaltables Module

The terminaltables library is a Python library that allows you to create tables with ASCII and Unicode borders. It is a simple and easy-to-use library that provides various formatting options, such as text alignment, padding, and borders.

**To use termitables library**

* import the AsciiTable class from terminaltable module

* create an instance of it by passing your data as an argument.

* The data should be in the form of a list of lists, where each inner list represents a row in the table.

* **Once you have created an instance of the AsciiTable class, you can use the table attribute to print the table.**

* The table attribute returns the formatted table as a string, which can be printed to the terminal or saved to a file.

**Example:**

In [ ]:
# !pip install terminaltables
from terminaltables import AsciiTable

data = [["Fruit","Price/Kg"],["Apple",100],["Mango",120],["Grapes",80],["Banana",60],["Orange",100]]

objtable = AsciiTable(data) # Here objtable is the instance of AsciiTable
print(objtable.table)

+--------+----------+
| Fruit  | Price/Kg |
+--------+----------+
| Apple  | 100      |
| Mango  | 120      |
| Grapes | 80       |
| Banana | 60       |
| Orange | 100      |
+--------+----------+

The AsciiTable class has several formatting options that you can use to customize the appearance of the table.

For example, you can use the title attribute to set a title for the table, the justify attribute to specify the text alignment (left, right, or center), and the inner_row_border attribute to enable or disable the inner row border.

In [ ]:
from terminaltables import AsciiTable

data = [["Fruit","Price/Kg"],["Apple",100],["Mango",120],["Grapes",80],["Banana",60],["Orange",100]]

objtable = AsciiTable(data, title='Fruit Prices')
objtable.justify = 'center'
objtable.inner_row_border = True
print(objtable.table)

+Fruit Prices-------+
| Fruit  | Price/Kg |
+--------+----------+
| Apple  | 100      |
+--------+----------+
| Mango  | 120      |
+--------+----------+
| Grapes | 80       |
+--------+----------+
| Banana | 60       |
+--------+----------+
| Orange | 100      |
+--------+----------+